<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ログイン確認</title>
</head>
<body>
    <p><%= id %></p>
    <p><%= password %></p>
    <form action="/register" method="post">
        <input type="hidden" name="id" value="<%= id %>">
        <input type="hidden" name="password" value="<%= password %>">
        <input type="submit" value="修正">
    </form>

    <form action="" method="post">
        <input type="hidden" name="id" value="<%= id %>">
        <input type="hidden" name="password" value="<%= password %>">
        <input type="submit" value="送信">
    </form>
</body>
</html>
